/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('../assets/montserrat-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../assets/montserrat-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Global */

body {
  font-family: Montserrat;
  padding: 0;
  margin: 0;
}

.content {
  margin-top: 0em;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 2em;

  text-align: center;
}


/* Redirects */

.redirects .label {
  font-size: 2em;

  text-align: left;
}

#redirects-text {
  width: 30em;

  overflow: scroll;
  outline: none;
  white-space: pre;

  font-size: 1.2em;
  text-align: left;
}

/* Save */

#save {
  padding: 0.5em 1em;
  font-size: 2em;
}
